.bg_cont {
  border: 1px solid black;
  width: 800px;
  height: 800px;
  margin: 0 auto;
  margin-top: 175px;
  border-radius: 20px;
  background-color: #222a34;
  position: relative;
}

.close_red {
  position: absolute;
  top: 20px;
  left: 20px;
}
