.Eula_cont {
  background-color: white;
  width: 500px;
  height: 500px;
  position: absolute;
  top: 333px;
  left: 753px;
  border-radius: 33px;
}

.overlay {
  background-color: black;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0.8;
}

.close {
  position: relative;
  top: 10px;
  left: 18px;
  cursor: pointer;
}

.eula_text {
  position: relative;
  top: 30px;
  left: 30px;
}
